body{
       justify-content: center;
    background-image: url(pic/maroon-colour-combination.jpg);
    background-size: cover;
    position: relative;
}
a{
    text-decoration: none;
    color: black;
}
.menu-btn{
    display: none;
    width: 270px;
    border: solid black;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 29px;
    background-color: gold;

}
#tap{
    display: none;
}
.btn{
    position: absolute;
    padding: 10px;
    border: solid black;
    background-color: aqua;
    top: 10px;
}
#tap:checked +.btn +.menu-btn{
    display: inline;
}
#preview{
    width: 378px;
    height: 480px;
    position: absolute;
    top: 60px;
    border: solid black
}
#result{
    border: solid black;
    position: relative;
    top: 70px;
    height: 90px;
    width: 378px;
    background-color: gold;
    opacity: 50%;
}