body{
    justify-content: center;
    background-image: url(pic/maroon-colour-combination.jpg);
    background-size: cover;

}

a{
    text-decoration: none;
    color: black;
}
.menu-btn{
    display: none;
    width: 270px;
    border: solid black;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 29px;
    background-color: gold;

}
#tap{
    display: none;
}
.btn{
    position: absolute;
    padding: 10px;
    border: solid black;
    background-color: aqua;
    top: 10px;
}
#tap:checked +.btn +.menu-btn{
    display: inline;
}

.main{
  
    border-radius: 15px;
    display: flex;
    width: auto;
    height: auto;
    padding-right:200px ;
}
.cam{

  width:190px ;
  height: 160px;
  margin-right:50px;
  position: relative;
  left: 55px;
  top: 100px;
  position: absolute;
 
}
.container{
    justify-content: center;
  position: absolute;
    
    
}
#time{
    text-align:center;
    border: 2px solid black;
    border-radius:15px;
    width: 150px;
    height: 35px;
    position: relative;
    top: 60px;
    animation: change 86400s infinite ease-in-out;
    background-size: 160px;
    background-position: bottom;
    padding-top: 15px;
    transition: background-image 10s ease-in-out;
    left: 118px;
}
#date{
    justify-content: center;
    position: relative;
    left: 125px;
    top: 65px;
    font-weight: bold;
    color: rgb(7, 7, 7);
    background-color: aqua;
    width: 130px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    

}

.mother{
    justify-content: center;
    border: solid gold;
    margin: 50px;
}
@keyframes change{

    0%{
        background-image:url(pic/OIP.webp);
        color: black;
    }
    50%{
        background-image: url(pic/beautiful-sky-clouds-sunset-time_396607-75641.jpg);
        color: black;
    }
    100%{
        background-image:url(pic/spooky-clouds-night-sky-moon-animation-qxx8yxaebiz0a0w2.jpg);
        color: rgb(125, 89, 89);
    }
}

.menu{

    position: relative;
    top: 190px;
    left: 12px  ;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
img{
    width: 110px;
    height: 110px;
    margin: 5px;
    position: relative;
    right: 7px;
    border: solid black;
    border-radius: 15px;
    top: 250px;
}
